---
// Import Stylesheet
import '../styles/global.css';
import Beandex from '../components/Beandex.astro';
import Header from '../components/Header.astro';
import DocHead from '../components/DocHead.astro';
---

<html lang="en">

	<DocHead />

	<body>
		
			<Header />

		<main class="wrapper">

			<Beandex />
			
		  </main>
		  
	</body>
</html>
